#### zigbang ë§¤ë¬¼ ë°ì´í„° ì €ì¥
- pip install geohash2

In [4]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-3.10.1-cp36-cp36m-manylinux2014_x86_64.whl (460 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 460 kB 1.2 MB/s eta 0:00:01:01
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import zigbang as zb
import pymongo
import pandas as pd

In [11]:
# server ì—°ê²°
server = pymongo.MongoClient('mongodb://test:testpw@15.165.136.173:27017/')
db = server.zigbang

In [12]:
addrs = {
    "mongwon": "ë§ì›ë™",
    "hapjung": "í•©ì •ë™",
}

In [13]:
# ë°ì´í„° ìˆ˜ì§‘ í›„ ì €ì¥
for collection_name, addr in addrs.items():
    collection = db[collection_name]
    datas = zb.oneroom(addr)
    ids = collection.insert(datas)
    print(collection_name, addr, len(ids))

mongwon ë§ì›ë™ 125
hapjung í•©ì •ë™ 142

In [14]:
# ë§ì›ë™ì—ì„œ ì›”ì„¸ 50ì´ìƒ ë³´ì¦ê¸ˆ 5000ì—ì„œ 10000ì¡°ê±´ìœ¼ë¡œ ê²€ìƒ‰
QUERY = {"rent": {"$lte": 50}, "deposit": {"$lte": 10000, "$gte": 5000}}
results = db["mongwon"].find(QUERY)
df = pd.DataFrame(results).tail()
columns = ["title", "service_type", "sales_type", "deposit", "rent", "size_m2", "floor", "building_floor", "address1", "manage_cost", "is_new"]
df[columns]

,title,service_type,sales_type,deposit,rent,size_m2,floor,building_floor,address1,manage_cost,is_new
0,â˜…â˜…ì˜¬ìˆ˜ë¦¬ ë‚¨í–¥ ì±„ê´‘ì¢‹ì€íˆ¬ë£¸ ì¦‰ì‹œì…ì£¼ê°€ëŠ¥í•œ 8ì²œ.20 â˜…â˜…,ë¹Œë¼,ì›”ì„¸,8000,20,46.28,ë°˜ì§€í•˜,3,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,1,False
1,"â¤ï¸ì¤‘ê¸°ì²­,ë²„íŒ€ëª©ê°€ëŠ¥âœ”ï¸ë¦¬ëª¨ë¸ë§ê¹”ë”íˆ¬ë£¸âœ”ï¸",ë¹Œë¼,ì›”ì„¸,8000,15,46.28,ë°˜ì§€í•˜,3,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,1.5,True
2,âœ”â›§íˆ¬ë£¸ ë°˜ì „ì„¸ ì¤‘ê¸°ì²­ ê°€ëŠ¥ ë§ì›ì •ì‚¬ê±°ë¦¬â›§âœ”,ë¹Œë¼,ì›”ì„¸,8000,15,39.67,ë°˜ì§€í•˜,3,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,1.5,True
3,ìœµì§€ë¬´ ë°˜ì§€ì¸µ 2ë£¸ ê³µì‹¤ ì „ì„¸ìê¸ˆëŒ€ì¶œ ì¡°ê¸ˆ ë°›ëŠ”ë¶„ ê°€ëŠ¥,ë¹Œë¼,ì „ì„¸,6500,0,39.67,ë°˜ì§€í•˜,4,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,2,False
4,ğŸ’™ğŸµë§ì›ì‹œì¥ì¸ê·¼ ì›ë£¸ì „ì„¸ (ëŒ€ì¶œë¶ˆê°€)ğŸµğŸ’™,ì›ë£¸,ì „ì„¸,10000,0,26.45,ì˜¥íƒ‘ë°©,3,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,3,False

In [15]:
# ì»¬ë ‰ì…˜ ì‚­ì œ
for addr in addrs:
    print(addr)
    server.zigbang.drop_collection(addr)

mongwon
hapjung

In [16]:
# ë°ì´í„° ë² ì´ìŠ¤ ì‚­ì œ
server.drop_database("zigbang")